@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Dancing+Script:wght@500&family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif; 
    --fonte2: 'Aboreto', cursive;
    --fonte3: 'Dancing Script', cursive;
    --fonte4: 'Satisfy', cursive;
}

*{
    margin: 0px;
    padding: 0px;
    
}

html, body {
    min-height: 100vh;
    min-width: 70vw;
    background-color: white;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 7vw;
}

header > p {
    padding: 10px 0px 40px 0px;
    font-size: 2vw;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    }

section.normal {
    background-color: white;
    color: black;
    font-family: var(--fonte3);
    font-size: 3vw;
}

section.normal > p {
    width: 40vw;
    padding: 7px;
    background-color: wheat;
}

section.imagem {
    background-color: black;
    color: white;
    font-family: var(--fonte4);
    font-size: 2.3vw;
}

section.imagem > p {
    width: 40vw;
    padding: 7px;
    background-color: rgb(21, 21, 21);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2vw;
}

